html {
	--text-font-size: 18px;
	--code-font-size: 16px;
	--text-font-size-print: 11pt;
	--code-font-size-print: 10pt;

	--light-mode-color: #222;
	--light-mode-code-color: #000;
	--light-mode-page-background: #fafaf7;
	--light-mode-overall-background: #eaeae7;

	--dark-mode-color: #95A0C9;
	--dark-mode-code-color: #b0c5ef;
	--dark-mode-page-background: #25283B;
	--dark-mode-code-background: #35384B;
	--dark-mode-overall-background: #15182B;
}

@media screen {
	html {
		font-size: var(--text-font-size);
	}

	pre, code {
		font-size: var(--code-font-size);
	}

	body {
		-webkit-text-size-adjust: 100%;
		color: var(--light-mode-color);
		background-color: var(--light-mode-overall-background);
	}

	div.page-area {
		background-color: var(--light-mode-page-background);
	}

	pre, code {
		background-color: var(--light-mode-overall-background);
		color: var(--light-mode-code-color);
	}

	a {
		color: #006CBF;
	}
}

@media print {
	html {
		font-size: var(--text-font-size-print);
	}

	pre, code {
		font-size: var(--code-font-size-print);
	}

	body {
		background-color: white;
		color: black;
	}

	a {
		color: #0A7CCF;
	}
}

@media screen and (prefers-color-scheme: dark) {
	body {
		background-color: var(--dark-mode-overall-background);
		color: var(--dark-mode-color);
	}

	div.page-area {
		background-color: var(--dark-mode-page-background);
	}

	a {
		color: #AB8AE4;
	}

	pre, code {
		background-color: var(--dark-mode-code-background);
		color: var(--dark-mode-code-color);
	}
}

@page {
	margin: 1cm;
}

body {
	font-family: charter, bitstream charter, sitka, Georgia, serif;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

strong, b {
	font-weight: 700;
}

h1 {
	font-size: 2em;
	font-weight: 400;
	letter-spacing: -0.005em;
	line-height: 1.2;
}

h2 { font-size: 1.1em; }
h3, h4, h5,
h6 { font-size: 1em; }

h1, h2, h3, h4, h5, h6 {
	margin-top: 18px;
	margin-bottom: 0;
}

h2, h3, h4, h5, h6 {
	font-weight: 700;
}

@media screen and (prefers-color-scheme: dark) {
	h2, h3, h4, h5, h6 {
		color: #5585c4;
	}
}

@media screen and (prefers-color-scheme: light) {
	h2, h3, h4, h5, h6 {
		color: #d73027;
	}
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: 0;
}

header,
footer {
	margin: 18px 0;
	text-align: center;
}

div.page-area {
	max-width: 990px;
	margin: 0 auto;
}

div.container {
	width: 85%;
	max-width: 690px;
	margin: 0 auto;
	padding: 10px 0;
}

header table {
	margin: 36px 0 9px 0;
	text-align: left;
	font-size: 0.9rem;
}

blockquote {
	font-style: italic;
}

main {
	margin: 24px 0;
}

.tags, .meta, .posts b, .pages {
	font-size: 0.9rem;
}

div.tags {
	display: block;
	text-align: left;
}

span.tag {
	display: inline-block;
	margin-right: 9px;
}

ul.tags {
	list-style-type: none;
	display: inline-block;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

ul.tags > li {
    display: inline-block;
    margin-right: 7px;
}

.header-logo img {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 4px solid #E1E1E1;
}

.header-logo img:hover {
	border-color: #F1F1F1;
}

.site-title {
	margin-top: 36px;
}

.entry-title {
	margin-bottom: 0;
}

.entry-title a {
	text-decoration: none;
}

.entry-meta {
	display: inline-block;
	margin-bottom: 0;
	font-weight: 700;
	font-size: 1em;
	color: #8F8B8D;
}

footer, .footnotes, span.caption, figcaption {
	font-size: 0.8em;
	letter-spacing: 0.015em;
}

.footnotes > ol p {
	margin: 10px 0;
}

span.caption {
	display: block;
}

header table, .footnotes, figcaption {
	line-height: 1.4;
}

.footnotes code {
	font-size: calc(var(--code-font-size) / var(--text-font-size));
}

.footer-link {
	margin: 5px 0;
}

div.posts, div.tags, div.pages {
	margin-top: 10px;
}

div.license {
	font-size: 0.7em;
	letter-spacing: 0.02em;
}

.hr {
	height: 1px;
	margin: 20px 0;
	background: #E1E1E1;
}

pre, code {
	font-family: Consolas, Menlo, monospace;
	line-height: 1.5;
	overflow-x: auto;
}

sup {
	font-weight: 700;
	line-height: 1;
	font-style: normal;
}

sup.b {
	font-weight: 400;
}
