{{ define "header" }}
	<h1 class="site-title">{{ .Site.Title }}</h1>
{{ end }}

{{ define "main" }}

	{{ range where .Sections "Section" "=" "meta" }}
	<div class="meta">
		<b>Meta&nbsp;</b>
			{{ range .Pages }}
			<a href="{{ .Page.RelPermalink }}">{{.Page.Title | markdownify }}</a>&nbsp;
			{{ end }}
	</div>
	{{ end }}

	<!-- Fixed entries -->
	{{ range where .Sections "Section" "=" "top" }}
		<div class="pages">
			<b>Pages&nbsp;</b>
			{{ range .Pages }}
				<span class="entry-title">
					<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
				</span>
			{{ end }}
		</div>
	{{ end }}
				
	<div class="tags">
		<b>Tags&nbsp;</b>
		{{range .Site.Taxonomies.tags -}} 
			<span class="tag">
				<a href={{ .Page.RelPermalink }}>
					{{.Page.Title}}
				</a><sup class="b">{{.Count}}</sup>
			</span>
		{{- end}}
	</div>

	<!-- Posts -->
	{{ range where .Sections "Section" "=" "post" }}
		<h2>Posts <a href="post/index.xml">&emsp;(RSS feed)</a></h2>
		{{ range .Pages }}
			<article>
				<h2 class="entry-title">
					<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
				</h2>
				<span class="entry-meta">
					<time datetime="{{ .Date.Format "2006-01-02" }}">
						{{ .Date.Format "2006, January 02" }}
					</time>
				</span>
			</article>
		{{ end }}
	{{ end }}

{{ end }}
